{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/load_messages.css') }}">

{{ turbo() }}
<h1>Messenger</h1>

<form method="post">
  {% include "load_messages.html" %}

  {{ form.hidden_tag() }}

  
  <div class="send-message">
    {{ form.text(class = 'form-control text-input', placeholder='Введите текст сообщения') }}
    <span>{{ form.submit(class = 'btn btn-primary', type = 'submit') }}</span>
  </div>
</form>
{% endblock %}